:root {
  --black: #1b1b1e;
  --rose: #885a5a;
  --pink: #ead7d7;
  --green: #749c75;
  --teal: #023c40;
}
* {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Comfortaa", cursive;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, white, grey, white, white);
  background-size: 800% 800%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#image p {
  display: none;
}
#image:hover img {
  opacity: 10%;
}
#image:hover p {
  background: white;
  color: black;
  display: block;
}
.btn {
  background-color: var(--black);
  color: var(--pink);
  border-color: var(--black);
}

.btn:hover {
  background-color: var(--pink);
  border: var(--pink);
  color: var(--black);
}

/* body {
  /* background-color: var(--rose); */

.download {
  background-color: white;
  border: none;
}

.download a {
  color: black;
}
h2 {
  color: var(--black);
}
header {
  background-color: black;
  padding: 5;
  color: white;
  top: 0px;
  right: 0px;
}
a {
  text-decoration: none;
  font-size: 140%;
}
.header-text {
  color: white;
}
.footer {
  margin-top: 10;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.footer-text {
  color: black;
}
a:hover {
  color: grey;
}

.picture {
  border-radius: 5%;
}

.footerNav:hover {
  color: var(--rose);
}
/* .navBar {
  /* background-color: var(--pink); */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image {
  border-radius: 5;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
